[defaults]
inventory      = ./inventory
roles_path = ./roles
# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)
ansible_user = admin 


# inventory      = ./inventory
# uncomment this to disable SSH key host checking
host_key_checking = False
# This should match the user we create in vagrant. 
# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)
remote_user = admin
log_path = ./log/ansible.log
vault_password_file = ./vault/vault.key
display_args_to_stdout = True
retry_files_enabled = True

[inventory]
# Virtualbox does not work. Is there one for vmware workstation? 
enable_plugins = host_list, script, auto, yaml, ini, toml, virtualbox

[ssh_connection]
# Number of times to retry an SSH connection to a host, in case of UNREACHABLE.
# For each retry attempt, there is an exponential backoff,
# so after the first attempt there is 1s wait, then 2s, 4s etc. up to 30s (max).
retries = 3


[persistent_connection]
# Configures the persistent connection timeout value in seconds. This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown. The default value is 30 seconds.
connect_timeout = 60